faiss-cpu
fastembed
google-generativeai
langchain-community
llama-index
llama-index-embeddings-fastembed
llama-index-embeddings-gemini
llama-index-embeddings-openai
llama-index-llms-groq
llama-index-llms-openai
llama-index-vector-stores-faiss
llama-index-vector-stores-qdrant
llama-parse
openpyxl
pandas=2.2.3
python-dotenv=1.0.1
qdrant_client
streamlit=1.42.2
unstructured
pip install llama-index
