faiss-cpu
fastembed
google-generativeai
langchain-community
llama-index
llama-index-embeddings-fastembed
llama-index-embeddings-gemini
llama-index-embeddings-openai
llama-index-llms-groq
llama-index-llms-openai
llama-index-vector-stores-faiss
llama-index-vector-stores-qdrant
llama-parse
openpyxl
python-dotenv
qdrant_client
streamlit
unstructured
